* {
    margin: 0;
    padding: 0;

}
body{
    /* margin: 0;
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #525368; */
    background-color: #fff;
    box-sizing: border-box;
}

.right {
    background-color: rgba(219, 187, 16, 0.96);

    color: rgb(214, 9, 9);
    /* height: 5vw;
    padding: 23px; */
   
    
    /* display: block;
    text-align: center;
     */
}
.dropdown {
    position: relative;
}
*::before, ::after{
    box-sizing: border-box;

}
img{
    vertical-align: middle;
}

/* #follow{
    font-family: 'Chivo Mono', monospace;
    color: brown;
} */
.right a {
    padding: 3px;
    color: deeppink;
}

.class {
    padding: 40px;
    background-color: white;
    text-align: right;
}
.btn-success{
    height: 1px;
    width: 1px;
    text-align: right;
}

li {
    list-style: none;
    display: inline;
    padding: 0 10px;
}

.btn-primary {

    color: #000;
    background-color: #8ba08c;
    /* border-color: #0bdd157e; */

}

/* .btn {
    font-weight: 400;
    line-height: 1.5;
    color: #525368;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
} */
.btn{
    justify-items: right;
}
.fa-arrow-right {
    width: 50px;
}

.w-1000 {
    height: auto;
    width: 395vh;
}